<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\" />
    <add key="Source" value="Source\" />
    <add key="Destinations" value="C:\Destination\Folder1\,C:\Destination\Folder2\,C:\Destination\Folder3\" />
    <add key="ExcludeFiles" value="Web.config,Web.*.config,*.teamcity" />
    <add key="TransformFile" value="Web.Stage.config" />
  </appSettings>
</configuration>